# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/
*.log

# Ignore sensitive information
.env
*.pem

# Ignore IDE and editor files
.vscode/
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db