#root {
  display: flex;
  flex-direction: column;
  .header {
    flex-basis: 100%;
  }
  .search-results {
    display: flex;
    flex-wrap: nowrap;
  }
  .facet-name {
    font-weight: bold;
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
  }
  .left-column {
    padding-right: 10px;
  }
}